* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
    max-width: 1100px;
    min-width: 320px;
    margin: 0 auto;
    background: #2C3E50;
    min-height: 100vh;
    padding: 20px 10px;
}

.beatifull-table {
    color: #fff;
    margin: 0px auto;
}

.beatifull-table td, .beatifull-table th {
    border: 1px solid #D7DBDD;
    padding: 10px 20px;
}

.beatifull-table th {
    color: #2ECC71;
    text-transform: capitalize;
}

tr:nth-child(even) {
    background-color: #ccc;
    color: #2C3E50;
}

.main_content {
    width: 100%; 
    background: #333;
    display: flex;
}

.left_ilustration {
    width: 60%;
    height: 100vh;
    background: #fff;
    background: url('../img/dirty-disaster-disposal-2768961.jpg');
    background-position: center;
    background-size: cover;
}

.secondOne {
    background: url('https://images.pexels.com/photos/2447036/pexels-photo-2447036.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-size: cover;
    box-shadow: -4px 0px 5px 0px rgba(0,0,0,0.75);
}

.login_content {
    width: 40%;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 60px;
    background: #fff;
    color: #333;
    box-shadow: -4px 0px 5px 0px rgba(0,0,0,0.75);
}

.form_data {
    padding: 10px;
    border-radius: 3px;
}

.form_row {
    display: grid;
    grid-template-columns: 25% 75%;
}

.form_col {
    display: grid;
    grid-row-gap: 5px;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    margin-bottom: 10px;
}

.form_col > span{
    font-weight: 900;
}

.form_col > input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
}

.button_signin {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.button_signin > input {
    border-radius: 3px;
    padding: 10px 40px;
    background: #FE6936;
    color: #fff;
    font-weight: 900;
    border: none;
}

.ma_alert {
    position: fixed;
    top: 20px;
    width: calc(100% - 20px);
    left: 10px;
    padding: 20px;
    border-radius: 4px;
    background: #2C3E50;
    color: #fff;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
}

.dot_separation {
    width: 5px;
    height: 5px;
    margin: 20px auto;
    background: #ccc;
}

.ma-link {
    text-decoration: none;
    text-align: center;
    margin: 0px auto;
    display: block;
}

.main-container {
    max-width: 1000px;
    min-width: 320px;
    width: 100%;
    min-height: 80vh;
}