* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
    max-width: 1100px;
    min-width: 320px;
    margin: 0 auto;
    background: #2C3E50;
    min-height: 100vh;
    padding: 20px 10px;
}

.beatifull-table {
    color: #fff;
    margin: 0px auto;
}

.beatifull-table td, .beatifull-table th {
    border: 1px solid #D7DBDD;
    padding: 10px 20px;
}

.beatifull-table th {
    color: #2ECC71;
    text-transform: capitalize;
}

tr:nth-child(even) {
    background-color: #ccc;
    color: #2C3E50;
}

.main_content {
    width: 100%; 
    background: #333;
    display: flex;
}

.left_ilustration {
    width: 60%;
    height: 100vh;
    background: #fff;
    background: url('../img/dirty-disaster-disposal-2768961.jpg');
    background-position: center;
    background-size: cover;
}

.secondOne {
    background: url('https://images.pexels.com/photos/2447036/pexels-photo-2447036.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-size: cover;
    box-shadow: -4px 0px 5px 0px rgba(0,0,0,0.75);
}

.login_content {
    width: 40%;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 60px;
    background: #fff;
    color: #333;
    box-shadow: -4px 0px 5px 0px rgba(0,0,0,0.75);
}

.form_data {
    padding: 10px;
    border-radius: 3px;
}

.form_row {
    display: grid;
    grid-template-columns: 25% 75%;
}

.form_col {
    display: grid;
    grid-row-gap: 5px;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    margin-bottom: 10px;
}

.form_col > span{
    font-weight: 900;
}

.form_col > input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
}

.button_signin {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.button_signin > input {
    border-radius: 3px;
    padding: 10px 40px;
    background: #FE6936;
    color: #fff;
    font-weight: 900;
    border: none;
}

#alert_placer {

    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
}

.ma_alert {
    width: calc(100% - 20px);
    margin: 10px;
    padding: 20px;
    border-radius: 4px;
    background: #2C3E50;
    margin: 5px auto;
    color: #fff;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
}

.dot_separation {
    width: 5px;
    height: 5px;
    margin: 20px auto;
    background: #ccc;
}

.ma-link {
    text-decoration: none;
    text-align: center;
    margin: 0px auto;
    display: block;
}

.main-container {
    max-width: 1000px;
    min-width: 320px;
    width: 100%;
    min-height: 80vh;
    margin-top: 85px;
}

.closable {
    cursor: pointer;
}

.sec_products {
    width: 100%;
}

.prod_list {
    padding: 5px;
    max-width: 1100px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

.prd {
    width: calc(33.3% - 10px);
    margin: 5px;
    height: 300px;
    background: #fff;
    border: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .1s ease-in-out;
    position: relative;
}

.pr_prize {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 15px;
    font-weight: 900;
    color: #FE6936;
}

.prd:hover {
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.pr_name {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-top: 20px;
}

.prd > img {
    max-height: 150px;
}

.gestion_container {
    width: 100%;
    max-width: 1100px;
    margin: 0px auto;
    display: flex;
    align-items: flex-start;
    min-height: calc(100vh - 85px);
    background: #d7dbdd;
}

.opt_gestin {
    width: 20%;
    min-height: calc(100vh - 85px);
    border-right: 1px solid #fff;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 85px;
}

.opt_gestin > input {
    padding: 10px 20px;
    border: none;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    width: 100%;
}

.opt_elem {
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.cont_gestion {
    width: 80%;
    min-height: 100vh;
}

.toolbar_gestion {
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #fff;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 85px;
    background: #f8f9f9;
    padding: 10px;
}

.elementos_gestion {
    width: 100%;
    padding: 10px;
}

.elementos_gestion > table td {
    padding: 10px !important;
}

.elementos_gestion > table th {
    padding: 10px !important;
}

.tb_action {
    padding: 10px;
    border: 1px solid #333;
    cursor: pointer;
}